<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://android.com">

    <!-- Requerimos Vulkan 1.2/1.3 de forma nativa desde el API 33 en adelante -->
    <uses-feature 
        android:name="android.hardware.vulkan.version"
        android:version="0x00401000" 
        android:required="true" />
        
    <uses-feature 
        android:name="android.hardware.touchscreen" 
        android:required="false" />
    
    <!-- Permisos limpios y compatibles con las directivas de seguridad de Android 16 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="WoWee Warstorm"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/WoweeFullscreen"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:hasFragileUserData="true">

        <!-- Enlazamos la clase Java de SDL3 que maneja tu motor dinámico -->
        <activity
            android:name="org.libsdl.app.SDLActivity"
            android:label="WoWee Warstorm"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode|density"
            android:preferMinimalPostProcessing="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
